absl-py==1.4.0
altair==5.1.2
appdirs==1.4.4
appnope==0.1.3
argcomplete==1.12.3
asttokens==2.4.0
astunparse==1.6.3
attrs==23.1.0
autopep8==2.0.4
backcall==0.2.0
blinker==1.6.3
blis==0.7.9
cachetools==5.3.1
catalogue==2.0.8
certifi==2020.12.5
chardet==3.0.4
charset-normalizer==3.3.0
click==7.1.2
cloudant==2.14.0
comm==0.1.4
confection==0.0.4
crypto==1.4.1
cymem==2.0.7
debugpy==1.8.0
decorator==5.1.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
flatbuffers==23.5.26
future==0.18.2
gast==0.4.0
gensim==4.3.1
geocoder==1.38.1
geographiclib==1.50
geopy==2.1.0
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.19.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googletrans==3.1.0a0
grpcio==1.54.2
gTTS==2.2.1
h11==0.9.0
h2==3.2.0
h5py==3.8.0
herepy==3.5.1
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==6.8.0
ipykernel==6.25.2
ipython==8.15.0
iterm2==1.18
jax==0.4.11
jedi==0.19.0
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter_client==8.3.1
jupyter_core==5.3.1
keras==2.12.0
langcodes==3.3.0
libclang==16.0.0
mailer==0.8.1
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.2.0
murmurhash==1.0.9
Naked==0.1.32
nest-asyncio==1.5.8
nltk==3.8.1
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.5.1.48
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==23.1
panda==0.3.1
pandas==2.1.1
parso==0.8.3
pathy==0.10.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
platformdirs==3.10.0
playsound==1.2.2
preshed==3.0.8
prompt-toolkit==3.0.39
protobuf==4.23.2
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.11
pycodestyle==2.11.0
pydantic==1.10.8
pydeck==0.8.1b0
pyFirmata2==2.1.1
Pygments==2.16.1
pyobjc==7.1
pyobjc-core==7.1
pyobjc-framework-Accounts==7.1
pyobjc-framework-AddressBook==7.1
pyobjc-framework-AdSupport==7.1
pyobjc-framework-AppleScriptKit==7.1
pyobjc-framework-AppleScriptObjC==7.1
pyobjc-framework-ApplicationServices==7.1
pyobjc-framework-AuthenticationServices==7.1
pyobjc-framework-AutomaticAssessmentConfiguration==7.1
pyobjc-framework-Automator==7.1
pyobjc-framework-AVFoundation==7.1
pyobjc-framework-AVKit==7.1
pyobjc-framework-BusinessChat==7.1
pyobjc-framework-CalendarStore==7.1
pyobjc-framework-CFNetwork==7.1
pyobjc-framework-CloudKit==7.1
pyobjc-framework-Cocoa==7.1
pyobjc-framework-Collaboration==7.1
pyobjc-framework-ColorSync==7.1
pyobjc-framework-Contacts==7.1
pyobjc-framework-ContactsUI==7.1
pyobjc-framework-CoreAudio==7.1
pyobjc-framework-CoreAudioKit==7.1
pyobjc-framework-CoreBluetooth==7.1
pyobjc-framework-CoreData==7.1
pyobjc-framework-CoreHaptics==7.1
pyobjc-framework-CoreLocation==7.1
pyobjc-framework-CoreMedia==7.1
pyobjc-framework-CoreMediaIO==7.1
pyobjc-framework-CoreMIDI==7.1
pyobjc-framework-CoreML==7.1
pyobjc-framework-CoreMotion==7.1
pyobjc-framework-CoreServices==7.1
pyobjc-framework-CoreSpotlight==7.1
pyobjc-framework-CoreText==7.1
pyobjc-framework-CoreWLAN==7.1
pyobjc-framework-CryptoTokenKit==7.1
pyobjc-framework-DeviceCheck==7.1
pyobjc-framework-DictionaryServices==7.1
pyobjc-framework-DiscRecording==7.1
pyobjc-framework-DiscRecordingUI==7.1
pyobjc-framework-DiskArbitration==7.1
pyobjc-framework-DVDPlayback==7.1
pyobjc-framework-EventKit==7.1
pyobjc-framework-ExceptionHandling==7.1
pyobjc-framework-ExecutionPolicy==7.1
pyobjc-framework-ExternalAccessory==7.1
pyobjc-framework-FileProvider==7.1
pyobjc-framework-FileProviderUI==7.1
pyobjc-framework-FinderSync==7.1
pyobjc-framework-FSEvents==7.1
pyobjc-framework-GameCenter==7.1
pyobjc-framework-GameController==7.1
pyobjc-framework-GameKit==7.1
pyobjc-framework-GameplayKit==7.1
pyobjc-framework-ImageCaptureCore==7.1
pyobjc-framework-IMServicePlugIn==7.1
pyobjc-framework-InputMethodKit==7.1
pyobjc-framework-InstallerPlugins==7.1
pyobjc-framework-InstantMessage==7.1
pyobjc-framework-Intents==7.1
pyobjc-framework-IOSurface==7.1
pyobjc-framework-iTunesLibrary==7.1
pyobjc-framework-LatentSemanticMapping==7.1
pyobjc-framework-LaunchServices==7.1
pyobjc-framework-libdispatch==7.1
pyobjc-framework-LinkPresentation==7.1
pyobjc-framework-LocalAuthentication==7.1
pyobjc-framework-MapKit==7.1
pyobjc-framework-MediaAccessibility==7.1
pyobjc-framework-MediaLibrary==7.1
pyobjc-framework-MediaPlayer==7.1
pyobjc-framework-MediaToolbox==7.1
pyobjc-framework-Metal==7.1
pyobjc-framework-MetalKit==7.1
pyobjc-framework-MetalPerformanceShaders==7.1
pyobjc-framework-ModelIO==7.1
pyobjc-framework-MultipeerConnectivity==7.1
pyobjc-framework-NaturalLanguage==7.1
pyobjc-framework-NetFS==7.1
pyobjc-framework-Network==7.1
pyobjc-framework-NetworkExtension==7.1
pyobjc-framework-NotificationCenter==7.1
pyobjc-framework-OpenDirectory==7.1
pyobjc-framework-OSAKit==7.1
pyobjc-framework-OSLog==7.1
pyobjc-framework-PencilKit==7.1
pyobjc-framework-Photos==7.1
pyobjc-framework-PhotosUI==7.1
pyobjc-framework-PreferencePanes==7.1
pyobjc-framework-PushKit==7.1
pyobjc-framework-Quartz==7.1
pyobjc-framework-QuickLookThumbnailing==7.1
pyobjc-framework-SafariServices==7.1
pyobjc-framework-SceneKit==7.1
pyobjc-framework-ScreenSaver==7.1
pyobjc-framework-ScriptingBridge==7.1
pyobjc-framework-SearchKit==7.1
pyobjc-framework-Security==7.1
pyobjc-framework-SecurityFoundation==7.1
pyobjc-framework-SecurityInterface==7.1
pyobjc-framework-ServiceManagement==7.1
pyobjc-framework-Social==7.1
pyobjc-framework-SoundAnalysis==7.1
pyobjc-framework-Speech==7.1
pyobjc-framework-SpriteKit==7.1
pyobjc-framework-StoreKit==7.1
pyobjc-framework-SyncServices==7.1
pyobjc-framework-SystemConfiguration==7.1
pyobjc-framework-SystemExtensions==7.1
pyobjc-framework-UserNotifications==7.1
pyobjc-framework-VideoSubscriberAccount==7.1
pyobjc-framework-VideoToolbox==7.1
pyobjc-framework-Vision==7.1
pyobjc-framework-WebKit==7.1
PyPDF2==3.0.1
pyserial==3.5
python-dateutil==2.8.2
python-escpos==2.2.0
pytz==2021.1
pyusb==1.1.1
PyYAML==5.4.1
pyzmq==25.1.1
qrcode==6.1
ratelim==0.1.6
referencing==0.30.2
regex==2023.5.5
requests==2.31.0
requests-oauthlib==1.3.1
rfc3986==1.4.0
rich==13.6.0
rpds-py==0.10.6
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
shellescape==3.8.1
six==1.16.0
sklearn==0.0.post5
smart-open==6.3.0
smmap==5.0.1
sniffio==1.2.0
sonopy==0.1.2
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SpeechRecognition==3.8.1
srsly==2.4.6
stack-data==0.6.2
streamlit==1.27.2
tabulate==0.8.7
tenacity==8.2.3
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
textblob==0.17.1
thermalprinter==0.2.0
thinc==8.1.10
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.3.3
tqdm==4.65.0
traitlets==5.10.0
typer==0.7.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.1
urllib3==1.26.2
vader==0.0.3
vaderSentiment==3.3.2
validators==0.22.0
wasabi==1.1.1
watson-developer-cloud==2.10.1
wcwidth==0.2.6
websocket-client==0.48.0
websockets==8.1
Werkzeug==2.3.4
word2number==1.1
wrapt==1.14.1
xlrd==2.0.1
zipp==3.17.0
